task2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-loan",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3a225b5d-acd2-48f3-bb9b-cac29311c29b",
      "name": "Webhook",
      "webhookId": "e7d8c934-2be9-4941-801e-99429f8ed70a"
    },
    {
      "parameters": {
        "jsCode": "const loanId = $json.body.loan_id;\nconst query = $json.body.query;\n\nreturn [\n  {\n    json: {\n      loan_id: loanId,\n      query: query,\n      message: \"Data extracted successfully\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "7e86a9a8-36bc-48b8-8b39-58f9ca873094",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/akmou/.n8n-files/new_loan_cleaned.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "41340b5a-a857-4834-b639-17fd60d6972a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "id": "2df8934f-1b95-42c0-ac9d-722533473f41",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const loanId = $node[\"Code in JavaScript\"].json.loan_id;\nconst userQuery = $node[\"Code in JavaScript\"].json.query;\n\nconst rows = items.map(item => item.json);\n\nconst match = rows.find(row => String(row.id) === String(loanId));\n\nif (!match) {\n  return [\n    {\n      json: {\n        status: \"error\",\n        message: \"Loan ID not found\"\n      }\n    }\n  ];\n}\n\n// return [\n//   {\n//     json: {\n//       status: \"success\",\n//       loan_id: loanId,\n//       user_query: userQuery,\n//       loan_data: match\n//     }\n//   }\n// ];\n\nreturn [\n  {\n    json: {\n      user_query: $node[\"Code in JavaScript\"].json.query,\n      loan_data: JSON.stringify(match, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "6a7e1784-fe55-4345-bcfd-cdd44e392f7a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional loan assistant.\n\nHere is the loan data:\n{{$json.loan_data}}\n\nUser question:\n{{$json.user_query}}\n\nInstructions:\n- Answer only based on the provided loan data.\n- If data is missing, say clearly that it is not available.\n- Give a resoning and clear answer so that the query of the user could be answered \n- Be concise and professional and give your final answer.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        0
      ],
      "id": "80ed1f7c-5c35-4df6-a09c-358d065ca0f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1192,
        224
      ],
      "id": "fa98d378-893c-4226-8cfc-dfa64ee67d68",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vhOYnZaUlYX43QAj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiText = $json.output;\n\nreturn [\n  {\n    json: {\n      response: aiText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        0
      ],
      "id": "268aac3c-0046-49e2-a15b-3f887b5c86cd",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "952b7a2f-968d-4034-897a-a4348b194672",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49a7e0dde81005326616690643bd5e390eb9e871b63ed0d3eee73c9449df9bf1"
  },
  "id": "F7L6FnX8ZMGdN6T1",
  "tags": []
}